.container {
    display: grid; 
    grid-template-columns: 0.9fr; 
    grid-template-rows: 0.2fr 1.9fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      'title'
      'content'; 
  }
  .title {
    justify-self: center; 
    grid-area: title; 
  }
  .content {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      'recipe-info directions'; 
    grid-area: content; 
  }
  .recipe-info {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1.5fr 0.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      'ingredients'
      'info'; 
    grid-area: recipe-info; 
  }
  .ingredients { grid-area: ingredients; }
  .info { grid-area: info; }
  .directions { grid-area: directions; }
