.container {
  display: grid;
  grid-template-columns: 0.9fr;
  grid-template-rows: 0.2fr 1.9fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "title-area"
    "content";
}

.title-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "recipe-name datetime";
  grid-area: title-area;
}

.recipe-name {

  justify-self: start;
  align-self: center;
  grid-area: recipe-name;
}

.datetime {

  justify-self: end;
  align-self: start;
  grid-area: datetime;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "recipe-info directions";
  grid-area: content;
}

.recipe-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "ingredients"
    "info";
  grid-area: recipe-info;
}

.ingredients { grid-area: ingredients; }
.info { grid-area: info; }
.directions { grid-area: directions; }